@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
   
}
body{
    background-image: url("./mount.jpg");
    background-size: cover;
    background-position:  center center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: "Poppins",sans-serif;
    font-family: 'Rubik Distressed',cursive;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 3rem;
    margin-top: -13rem;
    color: brown;
    justify-content: center;
    text-align: center;
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text{
    font-weight: normal;
    font-size: 3rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.3rem;
    font-weight: bold;
    color:rgb(223, 167, 12);
}